html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
}

body {
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    background: radial-gradient(ellipse at center top, #0d2160, #031d34, #000000 50%);
    color: #ededed;
}


footer {
    margin-top: 100px;
}

header {
    margin-bottom: 164px;
}


.avatar {
    width: 248px;
    height: 248px;
    border-radius: 50%;
    border: 5px solid #6d1ac4;
    box-shadow: 0 0 20px 0 #8f4fee;
    margin: 0 auto;
}


.topnav {
    height: 80px;
    width: 100%;
    color: #ededed;
    position: fixed;
    transition: top 0.3s;
    top: 0;
}


.dropdown {
    display: none;
    position: absolute;
    background: radial-gradient(circle, #3b0872, #7c33c9);
    width: 200px;
    flex-flow: column;
    top: 0;
    right: 0;
    animation: fade 0.5s;
    margin-right: 20px;
    margin-top: 90px;
    padding: 0 0 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 #7d3ddc;
}


#mobile-menu i {
    display: inline-block;
    padding-right: 10px;
}

#mobile-menu a {
    border: none;
    padding-top: 5px;
}


@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.topnav button {
    color: inherit;
    text-align: center;
    padding: 8px 10px 4px 10px;
    font-size: 14px;
    background-color: inherit;
    text-decoration: none;
    display: block;
    border: none;
    justify-content: center;
    margin-right: 20px;
}

.topnav button.right {
    height: 80px;
    float: right;
    display: block;
}

.topnav button.rounded_button {
    background: #3b0872;
    color: #ededed;
    height: 40px;
    border-radius: 10px;
    margin-top: 18px;
    padding: 10px 15px 15px 15px;
    box-shadow: 0 0 10px #3b0872;
}


.topnav i {
    display: inline-block;
    font-size: 18px;
    padding-right: 5px;
    margin-bottom: 5px;
}

.topnav i.rounded {
    display: inline-block;
    font-size: 18px;
    margin-right: 10px;
}

.topnav button.left {
    float: left;
}


.topnav button.rounded_button:hover {
    color: #ededed;
    background-color: #7c33c9;
}


@media screen and (max-width: 1000px) {
    .topnav button:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

}


.topnav a {
    float: right;
    display: block;
    color: #ededed;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    margin-top: 15px;
}


@media screen and (max-width: 800px) {
    .newsletter {
        display: none;
    }

    .quicklinks {
        display: none;
    }
}


canvas {
    height: 100%;
    background-color: inherit;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    position: fixed;
    opacity: 0.7;
}