<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <script src="static/main.js?v=1"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/2ef7928ab1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="icon" type="image/x-icon" href="/assets/home.ico">
    <link rel="stylesheet" href="static/style.css?v=1">
    <link rel="stylesheet" href="static/markdown-dark.css?v=1">
    <link rel="stylesheet" href="static/markdown-light.css?v=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.js" integrity="sha512-J7uKR69aZGGGVlt2wkk/bG6XKOsiRE35PE/vU+aau44g3f5bQqGoW7tKe4LKhVI57etFJOYwy/F/vCYTweELIw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.css" integrity="sha512-rGqRjILjohR2l4/xWr7TvP42nLhZLBa0C5dCuvFXG6gIrbzElZe0+W7ItgNgJCch+3iVUk0WFMxCJR7jXn9Ylg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <meta name="description" content="Hello, I'm Triyan, a student from India. My interests include programming, automation and anime.">
    <meta name="keywords" content="Triyan, Tech, Programming, Anime, Automation, Portfolio">
    <meta name="author" content="Triyan">
    <meta property="og:title" content="Triyan's Portfolio">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://ik.imagekit.io/uiezmxi8f/website_1_j7943388_deta_app.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1677697625635">
    <meta property="og:image:width" content="1400">
    <meta property="og:image:height" content="900">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:site" content="@Triyan_">
    <meta property="twitter:image:src" content="https://ik.imagekit.io/uiezmxi8f/website_1_j7943388_deta_app.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1677697625635">
    <meta property="twitter:title" content="Triyan's Portfolio">
    <meta property="og:description" content="Hello, I'm Triyan, a student from India. My interests include programming, automation and anime.">
    <meta content="#5413c7" data-react-helmet="true" name="theme-color" />
    <meta name="color-scheme" content="light dark">
    <meta property="og:thumbnail" content="https://i.imgur.com/rBvAjwz.png">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <script>
        tailwind.config = {
            darkMode: 'class',
        }
    </script>
</head>
