<!DOCTYPE html>
<html lang="en" class="dark">
{% include "headers.html" %}
<body class="dark:bg-gray-800 dark:text-gray-100 overflow-x-hidden">
{% include "navbar.html" %}
<div class="carousel slide" data-ride="carousel" id="carouselExampleIndicators" data-bs-touch="true">
    <ol class="carousel-indicators">
       {% for i in range(0, 3) %}
            <li data-target="#carouselExampleIndicators" data-slide-to="{{ i }}"
                {% if i == 0 %}class="active cursor-pointer"{% else %}class="cursor-pointer"{% endif %}>
            </li>
       {% endfor %}
    </ol>
    <div class="carousel-inner">
        {% for i in range(0, 3) %}
            <div class="carousel-item {% if i == 0 %}active{% endif %}">
                <div class="embed-responsive embed-responsive-21by9">
                    <iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen
                            class="embed-responsive-item"
                            src="{{ videos[i].link }}"
                            title="YouTube video player"></iframe>
                </div>
                <div class="carousel-caption d-none d-md-block">
                    <h1 style="font-size: 50px;" class="display-4 font-extrabold">{{ videos[i].title }}</h1>
                    <p class="display-6 font-semibold">{{ videos[i].description }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    <a class="carousel-control-prev" data-slide="prev" href="#carouselExampleIndicators" role="button">
        <span aria-hidden="true" class="carousel-control-prev-icon"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" data-slide="next" href="#carouselExampleIndicators" role="button">
        <span aria-hidden="true" class="carousel-control-next-icon"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="jumbotron jumbotron-fluid p-4 ml-4 mr-4 rounded-4"
     style="margin-top: 128px; background: inherit; color: inherit">
    <div class="container">
        <div class="row flex justify-between">
            <div class="col-sm-3">
                <img alt="avatar" class="rounded-full ring-2 ring-gray-300 dark:ring-gray-500 mt-3" src="{{ a_img }}">
            </div>
            <div class="col-sm-8">
                <h1 class="md:text-6xl text-4xl mt-3 text-center font-extrabold">Introduction</h1>
                <p class="lead mt-5 text-center font-light">{{ desc }}
                </p>
                <div class="row flex justify-center mt-5 flex-wrap items-center w-auto justify-content-evenly">
                    <button class="col-sm-3 transition duration-75 text-white bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg px-3 py-2.5 mb-2"
                        type="button" href="/profile" onclick="window.location.href='/profile'" style="box-shadow: 0 5px 10px 0 rgba(215,85,204,0.84);">
                        <i class="fas fa-user-circle" aria-hidden="true"></i>
                    Profile
                    </button>
                    <button href="#Feedback" onclick="window.location.href='#Feedback'" style="box-shadow: 0 5px 10px 0 rgba(248,95,11,0.84);" type="button" class="col-sm-3 transition duration-75 text-white bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-lg px-3 py-2.5 text-center mb-2">
                        <i class="fas fa-envelope" aria-hidden="true"></i>
                        Contact Me
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" style="margin-top: 128px">
    <h1 class="text-center md:text-6xl text-4xl font-extrabold tracking-tight text-gray-900 dark:text-gray-200">Hobbies</h1>
        <div class="row flex justify-content-evenly items-center" style="margin-top: 64px">
            {% for skill in skills %}
                <div class="max-w-sm border-0 rounded-lg bg-blue-400 dark:bg-blue-500 bg-opacity-25 dark:bg-opacity-25 p-0 w-64 h-64 hover:scale-110 transition duration-300 cursor-pointer mt-10" style="box-shadow: 0 5px 10px 0 rgba(72,73,112,0.88);">
                    <img class="rounded-t-lg w-64 h-48" src="{{ skill.image }}" alt="" />
                <div class="p-3">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-gray-200 text-center">{{ skill.name }}</h5>
                </div>
                </div>
            {% endfor %}
        </div>
    </div>
<h1 class="text-center md:text-6xl text-4xl font-extrabold tracking-tight text-gray-900 dark:text-gray-200" style="margin-top: 128px">Certificates</h1>
<div  class="carousel slide" data-ride="carousel" id="Certificates" style="margin-top: 64px;" data-bs-touch="true">
    <ol class="carousel-indicators">
       {% for i in range(0, 5) %}
            <li data-target="#Certificates" data-slide-to="{{ i }}"
                class="{% if i == 0 %}active cursor-pointer{% else %}cursor-pointer icon-black{% endif %}">
            </li>
       {% endfor %}
    </ol>
    <div class="carousel-inner">
        {% for i in range(0, 5) %}
            <div class="carousel-item {% if i == 0 %}active cursor-pointer{% else %}cursor-pointer{% endif %}"
                 href="{{ certs[i].link }}" onclick="window.location.href='{{ certs[i].link }}'">
                <img class="d-block h-full" src="{{ certs[i].image }}" alt="{{ certs[i].name }}">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="text-3xl font-bold tracking-tight text-gray-600 text-opacity-75 mb-5">{{ certs[i].name }}</h5>
                </div>
            </div>
        {% endfor %}
    </div>
    <a class="carousel-control-prev" data-slide="prev" href="#Certificates" role="button">
        <span aria-hidden="true" class="carousel-control-prev-icon"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" data-slide="next" href="#Certificates" role="button">
        <span aria-hidden="true" class="carousel-control-next-icon"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<h1 class="text-center md:text-6xl text-4xl font-extrabold tracking-tight text-gray-900 dark:text-gray-200" style="margin-top: 128px">Contact Me</h1>
{% include "feedback-form.html" %}
{% include "footer.html" %}
</body>
</html>
