<!DOCTYPE html>
<html lang="en" class="dark">
{% include "headers.html" %}
<body class="dark:bg-gray-800 dark:text-gray-100 overflow-x-hidden">
{% include "navbar.html" %}
<div class="card jumbotron-fluid p-0 border-0 ml-4 mr-4 rounded-4 dark:bg-gray-600 dark:text-gray-100 bg-gray-300 text-gray-800"
     style="margin-top: 128px; box-shadow: 10px 10px 15px 0 rgba(110,110,119,0.88);">
    <div class="card-img-top bg-cover bg-no-repeat bg-center h-64" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('{{ f_img }}');">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="rounded-full p-1 dark:border-gray-200 border-2 border-gray-800"
                 style="width: 300px; height: 300px; margin-top: -128px;">
                <img alt="avatar" class="rounded-full" src="{{ a_img }}">
            </div>
        </div>
        <div class="row">
            <div class="p-3 text-center">
                    <h1 class="display-4 font-bold">{{ title }}</h1>
            </div>
        </div>
        <div class="row flex items-center">
            <div class="col-sm-8">
                <div class="p-5">
                    <div class="rounded-lg shadow-xl bg-gray-900 text-white max-w-[480px]">
                        <div class="border-b border-gray-800 px-8 py-3">
                            <div class="inline-block w-3 h-3 mr-2 rounded-full bg-red-500"></div>
                            <div class="inline-block w-3 h-3 mr-2 rounded-full bg-yellow-300"></div>
                            <div class="inline-block w-3 h-3 mr-2 rounded-full bg-green-400"></div>
                        </div>
                        <div class="px-8 py-6">
                            <p><em class="text-blue-400">const</em> <span class="text-green-400">aboutMe</span> <span
                                    class="text-pink-500">=</span> <em class="text-blue-400">function</em>() {</p>
                            <p>&nbsp;&nbsp;<span class="text-pink-500">return</span> {</p>
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;name: <span class="text-yellow-300">'Triyan Mukherjee'</span>,
                            </p>
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;position: <span
                                    class="text-yellow-300">'fullstack-developer'</span>,
                            </p>
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;website: <span class="text-yellow-300">'<a
                                    class="text-decoration-none text-yellow-300 hover:text-green-500 focus:border-none" href="/"
                                    target="_blank">{{ web }}</a>'</span>,
                            </p>
                            <p>&nbsp;&nbsp;}</p>
                            <p>}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "footer.html" %}
</body>
</html>
